@font-face {
  font-family: "FuturaLight";
  src: url('../font/Futura-Light.ttf');
}
@font-face {
  font-family: "FuturaRegular";
  src: url('../font/Futura-Regular.ttf');
}


body {
  z-index: 0;
}
.fullpage-container {
  height: 50%;
  padding-top: 38px;
}





/***************************************************************
 *
 * HEADER
 * MENU
 *
 ***************************************************************/
header {
  position: fixed;
  height: auto;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, .9);
}
header > .menu * {
  font-family: "FuturaLight", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}
header > .menu {
  display: inline-block;
  float: right;
  margin-top: 7px;
  margin-right: 10%;
}
header > .menu > ul {
  padding: 0;
  margin: auto;
  display: inline-flex;
}
header > .menu .menu-item {
  list-style: none;
  margin: 0 0.8em;
}
@media (max-width: 899px) {
  header { position: absolute; }
  header > .menu { width: 100%; margin-right: 0; }
  header > .menu > ul { width: 100%; display: block; text-align: right; }
  header > .menu .menu-item { margin: 0 0.4em; display: inline; }
}
header > .menu .menu-item a,
header > .menu .menu-item a:visited,
header > .menu .menu-item a:hover,
header > .menu .menu-item a:target {
  color: white;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: bolder;
}





/***************************************************************
 *
 * SECTIONS
 *
 ***************************************************************/
.page-content {
  z-index: 10;
  width: 100%;
  height: 100%;
}





/***************************************************************
 *
 * HOME
 *
 ***************************************************************/
#section-home .logo-gala {
  width: inherit;
  height: 90%;

  background-image: url('../img/gala_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#section-home .overlay {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: transparent; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(27,0,135,0) 0%, rgba(0,0,0,.3) 85%, rgba(0,0,0,.9) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(27,0,135,0) 0%, rgba(0,0,0,.3) 85%, rgba(0,0,0,.9) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(27,0,135,0) 0%, rgba(0,0,0,.3) 85%, rgba(0,0,0,.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}





/***************************************************************
 *
 * DATE Gala
 *
 ***************************************************************/
#section-date {
  background: rgba(0,0,0,.9);
  height: 360px!important;
  padding-bottom: 30px;
}
#section-date .page-content {
  height: 300px;
}
#section-date .date-container {
  display: flex;
}
#section-date .date {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 20px;
  min-width: 15rem;
  max-width: 50%;
  margin: auto;
  border: 8px solid #fff;
}


@media (max-width: 899px) {
  #section-date .logo-container,
  #section-date .logo-emn {
    display: none;
  }
}
@media (min-width: 900px) {
  #section-date .logo-container {
    flex: 1;
  }
  #section-date .logo-container:first-of-type {
    margin-left: 0;
    margin-right: 10%;
  }
  #section-date .logo-container:last-of-type {
    margin-left: 10%;
    margin-right: 0;
  }
  #section-date .logo-emn {
    width: auto;
    height: 120px;
  }
}


#section-date .date-item {
  display: flex;
  flex-direction: column;
}
#section-date .date-item.day-container   { flex: 5; }
#section-date .date-item.month-container { flex: 1; }
#section-date .date-item.year-container  { flex: 2; }
#section-date .date-item.hour-container  { flex: 2; }


#section-date .date-item > div {
  width: inherit;
  color: white;
  
  font-family: 'FuturaLight', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
#section-date .date-item .day {
  font-size: 900%;
}
#section-date .date-item .month {
  font-size: 175%;
  letter-spacing: 5px;
}
#section-date .date-item .year {
  font-size: 300%;
  padding-left: 16px;
  letter-spacing: 20px;
  vertical-align: baseline;
}
#section-date .date-item .hour {
  font-size: 240%;
  letter-spacing: 0;
}





/***************************************************************
 *
 * ARTISTES Gala
 *
 ***************************************************************/
#section-artistes .overlay {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(3,0,14, .3); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,.9) 0%, rgba(27,0,135,0) 15%, rgba(27,0,135,.1) 60%, rgba(0,0,0,.4) 80%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,.9) 0%, rgba(27,0,135,0) 15%, rgba(27,0,135,.1) 60%,rgba(0,0,0,.4) 80%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,.9) 0%, rgba(27,0,135,0) 15%, rgba(27,0,135,.1) 60%, rgba(0,0,0,.4) 80%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#section-artistes .artiste {
  color: white;
  font-family: 'FuturaRegular', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2vw;
}


@media (max-width: 899px) {
  #section-artistes {
    min-height: 100vh;
  }
  #section-artistes .artiste {
    display: inline-block;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
    font-size: 14vw;
  }
  #section-artistes .artiste-separator { display: none; }
}


@media (min-width: 900px) {
  #section-artistes {
    min-height: 75vh;
  }
  #section-artistes .flex + .flex { margin-top: 2rem; }
  #section-artistes .artiste {
    font-size: 600%;
    padding-left: 15px;
  }
  #section-artistes .naxxos { letter-spacing: 1vw; }
  #section-artistes .artiste-separator {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 2rem;
    border-radius: 50%; 
    vertical-align: 75%;
  }
}


.logo-willsman {
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 899px) {
  .logo-willsman {
    background-image: url('../img/chris_willsman_vertical.png');
    max-width: 600px;
    max-height: 225px;
    width: 90vw;
    height: 35vh;
  }
}
@media (min-width: 900px) {
  .logo-willsman {
    background-image: url('../img/chris_willsman_horizontal.png');
    max-width: 1200px;
    max-height: 500px;
    width: 75vw;
    height: 25vh;
  }
}





/***************************************************************
 *
 * ANIMATIONS Gala
 *
 ***************************************************************/
#section-animations {
  min-height: 80vh;
  background: #000;
}
#section-animations .page-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}
@media (max-width: 899px) {
  #section-animations .page-content { margin: 0 5%; }
}
@media (min-width: 900px) {
  #section-animations .page-content { margin: 0 10%; }
}


#section-animations .card-container {
  flex: 1;
  display: inline-flex;
  height: auto;
  min-height: 20vh;
  margin: 1%;
  border: 3px solid rgb(218,18,18);
  color: white;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 899px) {
  #section-animations .card-container { min-width: 200px; max-width: 50%; }
}
@media (min-width: 900px) {
  #section-animations .card-container { min-width: 25%; max-width: 35%; }
}
#section-animations .card-container.artifice { background-image: url('../img/feu_artifice.jpg'); }
#section-animations .card-container.bars-theme {background-image: url('../img/bars_theme.jpg'); }
#section-animations .card-container.bar-champagne {background-image: url('../img/bar_champagne.jpg'); }
#section-animations .card-container.pompom {background-image: url('../img/pompom.jpg'); }
#section-animations .card-container.massages {background-image: url('../img/massages.jpg'); }
#section-animations .card-container.cabaret {background-image: url('../img/cabaret_veto.jpg'); }


#section-animations .card {
  background-color: rgba(0,0,0,.4);
  padding: 1rem;
}
#section-animations .card-title {
  font-family: 'FuturaRegular', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}
#section-animations .card-description {
  font-family: 'FuturaRegular', sans-serif;
  font-size: 0.9em;
}





/***************************************************************
 *
 * BILLETTERIE Gala
 *
 ***************************************************************/
#section-billetterie {
  z-index: 10;
  background: rgba(0,0,0,.2); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.66) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.66) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,.3) 40%, rgba(0,0,0,.66) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  color: white;
  font-family: 'FuturaRegular', sans-serif;
  font-weight: normal;
}


#section-billetterie .title {
  margin-top: 15%;
  margin-bottom: 8%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#section-billetterie .description {
  margin: auto;
  align-items: flex-start;
}
#section-billetterie .description > p {
  padding: 10px;
  font-size: 1.2em;
}
#section-billetterie .description sub {
  vertical-align: baseline;
  bottom: 0;
}
#section-billetterie .acheter-container {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}
#section-billetterie .acheter-container .acheter {
  padding-bottom: 14px;
  border-bottom: 7px solid rgb(218,18,18);
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: none;
}
#section-billetterie a {
  color: white;
}


@media (max-width: 899px) {
  #section-billetterie .title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 350%;
    letter-spacing: 2px;
  }
  #section-billetterie .red-square { display: none; }
  #section-billetterie .description { width: 80%; }
  #section-billetterie .acheter-container { margin-top: 1.5rem; }
}
@media (min-width: 900px) {
  #section-billetterie .title {
    margin-top: 10%;
    margin-bottom: 7%;
    font-size: 500%;
    letter-spacing: 4px;
  }
  #section-billetterie .red-square {
    z-index: -1;
    width: 22%;
    height: 40%;
    position: absolute;
    top: 0%;
    left: 24%;
    border: 7px solid rgb(218,18,18);
  }
  #section-billetterie .description { width: 66%; }
  #section-billetterie .acheter-container { margin-top: 3rem; }
}





/***************************************************************
 *
 * FAQs Gala
 *
 ***************************************************************/
#section-faq {
  min-height: 80%;
  color: white;
  font-family: 'FuturaRegular', sans-serif;
  font-weight: normal;
}
@media (max-width: 899px) {
  #section-faq .page-content { width: 95%; }
}
@media (min-width: 900px) {
  #section-faq .page-content { width: 75%; }
}
#section-faq .page-content {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#section-faq .side {
  flex: 1;
}


@media (max-width: 899px) {
  #section-faq .item { padding: 2px 5%; }
}
@media (min-width: 900px) {
  #section-faq .item { padding: 5px 15%; }
}
#section-faq .item .title {
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 2px;
}
#section-faq .item .description {
  font-size: 0.9em;
}
#section-faq a {
  color: rgb(27,0,135);
  text-decoration: none;
}





/***************************************************************
 *
 * FOOTER Gala
 *
 ***************************************************************/
#footer {
  width: 100%;
  height: 100px !important;
  text-align: center;
  display: inline-flex;
}
#footer .copyright {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'FuturaRegular', sans-serif;
  font-weight: normal;
}





/***************************************************************
 *
 * COULEURS / LOGOS
 *
 ***************************************************************/
.accent-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db0052+0,da1212+40,e47003+100 */
  background: rgb(219,0,82); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(219,0,82,1) 0%, rgba(218,18,18,1) 40%, rgba(228,112,3,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(219,0,82,1) 0%,rgba(218,18,18,1) 40%,rgba(228,112,3,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(219,0,82,1) 0%,rgba(218,18,18,1) 40%,rgba(228,112,3,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0052', endColorstr='#e47003',GradientType=1 ); /* IE6-9 */
}
.logo-emn {
  background-image: url('../img/mines_nantes_white.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.fullpage-container {
  /*background-image: url('../img/background.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}